<table class="table table-striped table-bordered">
  <tr>
    <th>Room ID</th>
    <th>Class</th>
    <th>Floor</th>
    <th></th>
  </tr>
  <tr *ngFor='let o of roomList; let i = index'>
    <td>{{o.room_id}}</td>
    <td>{{o.class_id}}</td>
    <td>{{o.floor_location}}</td>
    <script>
        if(o.available==false){
          document.getElementById('book').style.display='none';
        }      
    </script>

    <td><button type="button" class="btn btn-primary" id="book" (click)="book(i)">booking</button></td>
  </tr>
</table>